<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>toorg:</td>
                    <td>{{ data.toorg }}</td>
                </tr>
                <tr>
                    <td>torno:</td>
                    <td>{{ data.torno }}</td>
                </tr>
                <tr>
                    <td>toset:</td>
                    <td>{{ data.toset }}</td>
                </tr>
                <tr>
                    <td>tprty:</td>
                    <td>{{ data.tprty }}</td>
                </tr>
                <tr>
                    <td>tacno:</td>
                    <td>{{ data.tacno }}</td>
                </tr>
                <tr>
                    <td>tacti:</td>
                    <td>{{ data.tacti }}</td>
                </tr>
                <tr>
                    <td>tappl:</td>
                    <td>{{ data.tappl }}</td>
                </tr>
                <tr>
                    <td>tauto:</td>
                    <td>{{ data.tauto }}</td>
                </tr>
                <tr>
                    <td>todvc:</td>
                    <td>{{ data.todvc }}</td>
                </tr>
                <tr>
                    <td>trefcntd:</td>
                    <td>{{ data.trefcntd }}</td>
                </tr>
                <tr>
                    <td>trefcntu:</td>
                    <td>{{ data.trefcntu }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="button-container">
    <button (click)="closeDialog()">Close</button>
</div>