<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>tOorg:</td>
                    <td>{{ data.toorg}}</td>
                </tr>
                <tr>
                    <td>tOrno:</td>
                    <td>{{ data.torno }}</td>
                </tr>
                <tr>
                    <td>tOset:</td>
                    <td>{{ data.toset }}</td>
                </tr>
                <tr>
                    <td>tSeri:</td>
                    <td>{{ data.tseri }}</td>
                </tr>
                <tr>
                    <td>tIttp:</td>
                    <td>{{ data.tittp }}</td>
                </tr>
                <tr>
                    <td>tOdat:</td>
                    <td>{{ data.tadat }}</td>
                </tr>
                <tr>
                    <td>tSfty:</td>
                    <td>{{ data.tsfty }}</td>
                </tr>
                <tr>
                    <td>tSfco:</td>
                    <td>{{ data.tsfco }}</td>
                </tr>
                <tr>
                    <td>tStty:</td>
                    <td>{{ data.tstty }}</td>
                </tr>
                <tr>
                    <td>tStco:</td>
                    <td>{{ data.tstco }}</td>
                </tr>
                <tr>
                    <td>tSfcp:</td>
                    <td>{{ data.tsfcp }}</td>
                </tr>
                <tr>
                    <td>tStcp:</td>
                    <td>{{ data.tstcp }}</td>
                </tr>
                <tr>
                    <td>tSfad:</td>
                    <td>{{ data.tsfad }}</td>
                </tr>
                <tr>
                    <td>tStad:</td>
                    <td>{{ data.tstad }}</td>
                </tr>
                <tr>
                    <td>tSfit:</td>
                    <td>{{ data.tsfit }}</td>
                </tr>
                <tr>
                    <td>tStit:</td>
                    <td>{{ data.tstit }}</td>
                </tr>
                <tr>
                    <td>tSfrv:</td>
                    <td>{{ data.tsfrv }}</td>
                </tr>
                <tr>
                    <td>tStrv:</td>
                    <td>{{ data.tstrv }}</td>
                </tr>
                <tr>
                    <td>tSflo:</td>
                    <td>{{ data.tsflo }}</td>
                </tr>
                <tr>
                    <td>tStlo:</td>
                    <td>{{ data.tstlo }}</td>
                </tr>
                <tr>
                    <td>tOtyp:</td>
                    <td>{{ data.totyp }}</td>
                </tr>
                <tr>
                    <td>tDepc:</td>
                    <td>{{ data.tdepc }}</td>
                </tr>
                <tr>
                    <td>tWdep:</td>
                    <td>{{ data.twdep }}</td>
                </tr>
                <tr>
                    <td>tBlor:</td>
                    <td>{{ data.tblor }}</td>
                </tr>
                <tr>
                    <td>tRtrn:</td>
                    <td>{{ data.trtrn }}</td>
                </tr>
                <tr>
                    <td>tCons:</td>
                    <td>{{ data.tcons }}</td>
                </tr>
                <tr>
                    <td>tInvc:</td>
                    <td>{{ data.tinvc }}</td>
                </tr>
                <tr>
                    <td>tBflh:</td>
                    <td>{{ data.tbflh }}</td>
                </tr>
                <tr>
                    <td>tRrgd:</td>
                    <td>{{ data.trrgd }}</td>
                </tr>
                <tr>
                    <td>tDmst:</td>
                    <td>{{ data.tdmst }}</td>
                </tr>
                <tr>
                    <td>tCarr:</td>
                    <td>{{ data.tcarr }}</td>
                </tr>
                <tr>
                    <td>tCbin:</td>
                    <td>{{ data.tcbin }}</td>
                </tr>
                <tr>
                    <td>tCrte:</td>
                    <td>{{ data.tcrte }}</td>
                </tr>
                <tr>
                    <td>tCdec:</td>
                    <td>{{ data.tcdec }}</td>
                </tr>
                <tr>
                    <td>tPtpa:</td>
                    <td>{{ data.tptpa }}</td>
                </tr>
                <tr>
                    <td>tMotv:</td>
                    <td>{{ data.tmotv }}</td>
                </tr>
                <tr>
                    <td>tDelc:</td>
                    <td>{{ data.tdelc }}</td>
                </tr>
                <tr>
                    <td>tServ:</td>
                    <td>{{ data.tserv }}</td>
                </tr>
                <tr>
                    <td>tPddt:</td>
                    <td>{{ data.tpddt }}</td>
                </tr>
                <tr>
                    <td>tPrdt:</td>
                    <td>{{ data.tprdt }}</td>
                </tr>
                <tr>
                    <td>tMint:</td>
                    <td>{{ data.tmint }}</td>
                </tr>
                <tr>
                    <td>tMaxt:</td>
                    <td>{{ data.tmaxt }}</td>
                </tr>
                <tr>
                    <td>tMind:</td>
                    <td>{{ data.tmind }}</td>
                </tr>
                <tr>
                    <td>tMaxd:</td>
                    <td>{{ data.tmaxd }}</td>
                </tr>
                <tr>
                    <td>tClan:</td>
                    <td>{{ data.tclan }}</td>
                </tr>
                <tr>
                    <td>tGrid:</td>
                    <td>{{ data.tgrid }}</td>
                </tr>
                <tr>
                    <td>tSetn:</td>
                    <td>{{ data.tsetn }}</td>
                </tr>
                <tr>
                    <td>tInfo:</td>
                    <td>{{ data.tinfo }}</td>
                </tr>
                <tr>
                    <td>tRefe:</td>
                    <td>{{ data.trefe }}</td>
                </tr>
                <tr>
                    <td>tIsit:</td>
                    <td>{{ data.tisit }}</td>
                </tr>
                <tr>
                    <td>tRodr:</td>
                    <td>{{ data.trodr }}</td>
                </tr>
                <tr>
                    <td>tAkit:</td>
                    <td>{{ data.takit }}</td>
                </tr>
                <tr>
                    <td>tCtdt:</td>
                    <td>{{ data.tctdt }}</td>
                </tr>
                <tr>
                    <td>tAdat:</td>
                    <td>{{ data.tadat }}</td>
                </tr>
                <tr>
                    <td>tClgr:</td>
                    <td>{{ data.tclgr }}</td>
                </tr>
                <tr>
                    <td>tList:</td>
                    <td>{{ data.tlist }}</td>
                </tr>
                <tr>
                    <td>tItem:</td>
                    <td>{{ data.titem }}</td>
                </tr>
                <tr>
                    <td>tQoro:</td>
                    <td>{{ data.tqoro }}</td>
                </tr>
                <tr>
                    <td>tOrun:</td>
                    <td>{{ data.tqrun }}</td>
                </tr>
                <tr>
                    <td>tQord:</td>
                    <td>{{ data.tqord }}</td>
                </tr>
                <tr>
                    <td>tAsst:</td>
                    <td>{{ data.tasst }}</td>
                </tr>
                <tr>
                    <td>tTxta:</td>
                    <td>{{ data.ttxta }}</td>
                </tr>
                <tr>
                    <td>tTxtb:</td>
                    <td>{{ data.ttxtb }}</td>
                </tr>
                <tr>
                    <td>tRefcntd:</td>
                    <td>{{ data.trefcntd }}</td>
                </tr>
                <tr>
                    <td>tRefcntu:</td>
                    <td>{{ data.trefcntu }}</td>
                </tr>
                <tr>
                    <td>tHsta:</td>
                    <td>{{ data.thsta }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="button-container">
    <button class="close" (click)="closeDialog()">Close</button>
</div>