<div class="card-body">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>id</td>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <td>palletBarcode</td>
                <td>{{ data.palletBarcode }}</td>
            </tr>
            <tr>
                <td>productId</td>
                <td>{{ data.productId }}</td>
            </tr>
            <tr>
                <td>initialQuantity</td>
                <td>{{ data.initialQuantity }}</td>
            </tr>
            <tr>
                <td>finalQuantity</td>
                <td>{{ data.finalQuantity }}</td>
            </tr>
            <tr>
                <td>palletLot</td>
                <td>{{ data.palletLot }}</td>
            </tr>
            <tr>
                <td>palletType</td>
                <td>{{ data.palletType }}</td>
            </tr>
            <tr>
                <td>movementType</td>
                <td>{{ data.movementType }}</td>
            </tr>
            <tr>
                <td>orderId</td>
                <td>{{ data.orderId }}</td>
            </tr>
            <tr>
                <td>source</td>
                <td>{{ data.source }}</td>
            </tr>
            <tr>
                <td>destination</td>
                <td>{{ data.destination }}</td>
            </tr>
            <tr>
                <td>date</td>
                <td>{{ data.date }}</td>
            </tr>
            <tr>
                <td>accountId</td>
                <td>{{ data.accountId }}</td>
            </tr>
            <tr>
                <td>createdOnUtc</td>
                <td>{{ data.createdOnUtc }}</td>
            </tr>
            <tr>
                <td>createdBy</td>
                <td>{{ data.createdBy }}</td>
            </tr>
            <tr>
                <td>updatedOnUtc</td>
                <td>{{ data.updatedOnUtc }}</td>
            </tr>
            <tr>
                <td>updatedBy</td>
                <td>{{ data.updatedBy }}</td>
            </tr>
        </tbody>
    </table>
</div>