<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>tOorg:</td>
                    <td>{{ data.toorg }}</td>
                </tr>
                <tr>
                    <td>tOrno:</td>
                    <td>{{ data.torno }}</td>
                </tr>
                <tr>
                    <td>tPono:</td>
                    <td>{{ data.tpono }}</td>
                </tr>
                <tr>
                    <td>tSeqn:</td>
                    <td>{{ data.tseqn }}</td>
                </tr>
                <tr>
                    <td>tOset:</td>
                    <td>{{ data.toset }}</td>
                </tr>
                <tr>
                    <td>tCwar:</td>
                    <td>{{ data.tcwar }}</td>
                </tr>
                <tr>
                    <td>tComp:</td>
                    <td>{{ data.tcomp }}</td>
                </tr>
                <tr>
                    <td>tAcvt:</td>
                    <td>{{ data.tacvt }}</td>
                </tr>
                <tr>
                    <td>tItem:</td>
                    <td>{{ data.titem }}</td>
                </tr>
                <tr>
                    <td>tSerl:</td>
                    <td>{{ data.tserl }}</td>
                </tr>
                <tr>
                    <td>tSsts:</td>
                    <td>{{ data.tssts }}</td>
                </tr>
                <tr>
                    <td>tLsel:</td>
                    <td>{{ data.tlsel }}</td>
                </tr>
                <tr>
                    <td>tClot:</td>
                    <td>{{ data.tclot }}</td>
                </tr>
                <tr>
                    <td>tEffn:</td>
                    <td>{{ data.teffn }}</td>
                </tr>
                <tr>
                    <td>tRevi:</td>
                    <td>{{ data.trevi }}</td>
                </tr>
                <tr>
                    <td>tPrio:</td>
                    <td>{{ data.tprio }}</td>
                </tr>
                <tr>
                    <td>tOoro:</td>
                    <td>{{ data.tooro }}</td>
                </tr>
                <tr>
                    <td>tOrun:</td>
                    <td>{{ data.torun }}</td>
                </tr>
                <tr>
                    <td>tUbin:</td>
                    <td>{{ data.tubin }}</td>
                </tr>
                <tr>
                    <td>tHstq:</td>
                    <td>{{ data.thstq }}</td>
                </tr>
                <tr>
                    <td>tQord:</td>
                    <td>{{ data.tqord }}</td>
                </tr>
                <tr>
                    <td>tQadv:</td>
                    <td>{{ data.tqadv }}</td>
                </tr>
                <tr>
                    <td>tQrel:</td>
                    <td>{{ data.tqrel }}</td>
                </tr>
                <tr>
                    <td>tQpic:</td>
                    <td>{{ data.tqpic }}</td>
                </tr>
                <tr>
                    <td>tQapr:</td>
                    <td>{{ data.tqapr }}</td>
                </tr>
                <tr>
                    <td>tQrej:</td>
                    <td>{{ data.tqrej }}</td>
                </tr>
                <tr>
                    <td>tQnse:</td>
                    <td>{{ data.tqnse }}</td>
                </tr>
                <tr>
                    <td>tQnsh:</td>
                    <td>{{ data.tqnsh }}</td>
                </tr>
                <tr>
                    <td>tQshp:</td>
                    <td>{{ data.tqshp }}</td>
                </tr>
                <tr>
                    <td>tQoor:</td>
                    <td>{{ data.tqoor }}</td>
                </tr>
                <tr>
                    <td>tQova:</td>
                    <td>{{ data.tqova }}</td>
                </tr>
                <tr>
                    <td>tQovd:</td>
                    <td>{{ data.tqovd }}</td>
                </tr>
                <tr>
                    <td>tQcnl:</td>
                    <td>{{ data.tqcnl }}</td>
                </tr>
                <tr>
                    <td>tPddt:</td>
                    <td>{{ data.tpddt }}</td>
                </tr>
                <tr>
                    <td>tPrdt:</td>
                    <td>{{ data.tprdt }}</td>
                </tr>
                <tr>
                    <td>tAddt:</td>
                    <td>{{ data.taddt }}</td>
                </tr>
                <tr>
                    <td>tInup:</td>
                    <td>{{ data.tinup }}</td>
                </tr>
                <tr>
                    <td>tBflh:</td>
                    <td>{{ data.tbflh }}</td>
                </tr>
                <tr>
                    <td>tRush:</td>
                    <td>{{ data.trush }}</td>
                </tr>
                <tr>
                    <td>tCdck:</td>
                    <td>{{ data.tcdck }}</td>
                </tr>
                <tr>
                    <td>tQreq:</td>
                    <td>{{ data.tqreq }}</td>
                </tr>
                <tr>
                    <td>tQcad:</td>
                    <td>{{ data.tqcad }}</td>
                </tr>
                <tr>
                    <td>tQact:</td>
                    <td>{{ data.tqact }}</td>
                </tr>
                <tr>
                    <td>tShrt:</td>
                    <td>{{ data.tshrt }}</td>
                </tr>
                <tr>
                    <td>tBlck:</td>
                    <td>{{ data.tblck }}</td>
                </tr>
                <tr>
                    <td>tCncl:</td>
                    <td>{{ data.tcncl }}</td>
                </tr>
                <tr>
                    <td>tBcko:</td>
                    <td>{{ data.tbcko }}</td>
                </tr>
                <tr>
                    <td>tPkdf:</td>
                    <td>{{ data.tpkdf }}</td>
                </tr>
                <tr>
                    <td>tIubw:</td>
                    <td>{{ data.tiubw }}</td>
                </tr>
                <tr>
                    <td>tGefo:</td>
                    <td>{{ data.tgefo }}</td>
                </tr>
                <tr>
                    <td>tFmor:</td>
                    <td>{{ data.tfmor }}</td>
                </tr>
                <tr>
                    <td>tFmln:</td>
                    <td>{{ data.tfmln }}</td>
                </tr>
                <tr>
                    <td>tOvlp:</td>
                    <td>{{ data.tovlp }}</td>
                </tr>
                <tr>
                    <td>tUwop:</td>
                    <td>{{ data.tuwop }}</td>
                </tr>
                <tr>
                    <td>tOrpr:</td>
                    <td>{{ data.torpr }}</td>
                </tr>
                <tr>
                    <td>tOcur:</td>
                    <td>{{ data.tocur }}</td>
                </tr>
                <tr>
                    <td>tCsvl:</td>
                    <td>{{ data.tcsvl }}</td>
                </tr>
                <tr>
                    <td>tCsvc:</td>
                    <td>{{ data.tcsvc }}</td>
                </tr>
                <tr>
                    <td>tFprj:</td>
                    <td>{{ data.tfprj }}</td>
                </tr>
                <tr>
                    <td>tFspa:</td>
                    <td>{{ data.tfspa }}</td>
                </tr>
                <tr>
                    <td>tFact:</td>
                    <td>{{ data.tfact }}</td>
                </tr>
                <tr>
                    <td>tFstl:</td>
                    <td>{{ data.tfstl }}</td>
                </tr>
                <tr>
                    <td>tFcco:</td>
                    <td>{{ data.tfcco }}</td>
                </tr>
                <tr>
                    <td>tTprj:</td>
                    <td>{{ data.ttprj }}</td>
                </tr>
                <tr>
                    <td>tTspa:</td>
                    <td>{{ data.ttspa }}</td>
                </tr>
                <tr>
                    <td>tTact:</td>
                    <td>{{ data.ttact }}</td>
                </tr>
                <tr>
                    <td>tTstl:</td>
                    <td>{{ data.ttstl }}</td>
                </tr>
                <tr>
                    <td>tTcco:</td>
                    <td>{{ data.ttcco }}</td>
                </tr>
                <tr>
                    <td>tRefe:</td>
                    <td>{{ data.trefe }}</td>
                </tr>
                <tr>
                    <td>tCasi:</td>
                    <td>{{ data.tcasi }}</td>
                </tr>
                <tr>
                    <td>tWmss:</td>
                    <td>{{ data.twmss }}</td>
                </tr>
                <tr>
                    <td>tLsta:</td>
                    <td>{{ data.tlsta }}</td>
                </tr>
                <tr>
                    <td>tTxtn:</td>
                    <td>{{ data.ttxtn }}</td>
                </tr>
                <tr>
                    <td>tRefcntd:</td>
                    <td>{{ data.trefcntd }}</td>
                </tr>
                <tr>
                    <td>tRefcntu:</td>
                    <td>{{ data.trefcntu }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>