<div class="card-body">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>id</td>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <td>internalCode</td>
                <td>{{ data.internalCode }}</td>
            </tr>
            <tr>
                <td>code</td>
                <td>{{ data.code }}</td>
            </tr>
            <tr>
                <td>name</td>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <td>wmsCategoryId</td>
                <td>{{ data.wmsCategoryId }}</td>
            </tr>
            <tr>
                <td>wmsSubCategoryId</td>
                <td>{{ data.wmsSubCategoryId }}</td>
            </tr>
            <tr>
                <td>wmsProviderCode</td>
                <td>{{ data.wmsProviderCode }}</td>
            </tr>
            <tr>
                <td>providerProductCode</td>
                <td>{{ data.providerProductCode }}</td>
            </tr>
            <tr>
                <td>customerProductCode</td>
                <td>{{ data.customerProductCode }}</td>
            </tr>
            <tr>
                <td>label2</td>
                <td>{{ data.label2 }}</td>
            </tr>
            <tr>
                <td>colorCode</td>
                <td>{{ data.colorCode }}</td>
            </tr>
            <tr>
                <td>costPrice</td>
                <td>{{ data.costPrice }}</td>
            </tr>
            <tr>
                <td>lastInventoryDate</td>
                <td>{{ data.lastInventoryDate }}</td>
            </tr>
            <tr>
                <td>active</td>
                <td>{{ data.active }}</td>
            </tr>
            <tr>
                <td>securityStock</td>
                <td>{{ data.securityStock }}</td>
            </tr>
            <tr>
                <td>multipleQuantity</td>
                <td>{{ data.multipleQuantity }}</td>
            </tr>
            <tr>
                <td>unit</td>
                <td>{{ data.unit }}</td>
            </tr>
            <tr>
                <td>qualityCode</td>
                <td>{{ data.qualityCode }}</td>
            </tr>
            <tr>
                <td>createdOnUtc</td>
                <td>{{ data.createdOnUtc }}</td>
            </tr>
            <tr>
                <td>createdBy</td>
                <td>{{ data.createdBy }}</td>
            </tr>
            <tr>
                <td>updatedOnUtc</td>
                <td>{{ data.updatedOnUtc }}</td>
            </tr>
            <tr>
                <td>updatedBy</td>
                <td>{{ data.updatedBy }}</td>
            </tr>
        </tbody>
    </table>
</div>